<mat-card>

  <table class="user-table">
    <tr>
<th>Name</th>
<th>E-Mail</th>
<th>City</th>
</tr>

  <tr *ngFor="let user of allUsers"> <!-- zeigt in For-Schleife alle erstellten User an -->
    <td>{{ user['firstName'] }} {{ user['lastName'] }}</td> <!-- zeigt aus den Usern den firstName an, an jeweiliger Stelle -->
    <td>{{ user['email'] }}</td>
    <td>{{ user['city'] }}</td>
    </tr>

  </table>
</mat-card>

  <button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add user">
    <mat-icon>add</mat-icon>
  </button>